openapi: 3.0.1
info:
  title: Inter-Microservice Communication WIP
  description: Utilises a Publisher/Subscriber Model
  version: v1 WIP
servers:
- url: https://task.e-edu.the-morpheus.de/
- url: https://user.e-edu.the-morpheus.de/
- url: https://report.e-edu.the-morpheus.de/

tags:
- name: General
  description: Pub/Sub Endpoints that every MS should have
- name: User Microservice
  description: Endpoints where the User MS is Pub
- name: Task Microservice
  description: Endpoints where the Task MS is Pub
- name: Report Microservice
  description: Endpoints where the Report MS is Pub

paths:
  /user_ban:
    post:
      tags:
      - Report Microservice
      summary:  The Pub/Sub endpiont between Report and User MS to set if a user is banned
      security: 
      - ServiceToken: [write]
      parameters:
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                user_id:
                  type: string
                ticket_id:
                  type: string
                  format: guid
                timestamp:
                  type: string

      responses:
        '200':
          description: OK
        '400':
          description: User Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  
  /service_start/:
    post:
      summary: Informed when a service starts
      tags:
      - General
      security:
        - ServiceToken: [write]
      parameters:
      - name: Authorization
        in: header
        required: true
        schema: 
          title: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                ms_name:
                  type: string
                timestamp:
                  type: string
      responses:
        '200':
          description: OK
        '400':
          description: User Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /service_stop/:
    post:
      summary: Informed when a service stops
      tags:
      - General
      security:
        - ServiceToken: [write]
      parameters:
      - name: Authorization
        in: header
        required: true
        schema: 
          title: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                ms_name:
                  type: string
                timestamp:
                  type: string
      responses:
        '200':
          description: OK
        '400':
          description: User Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'


components:
  securitySchemes:
    ServiceToken:
      type: http
      scheme: bearer
      bearerFormat: randomstring

  schemas:
    Error:
      oneOf:
        - $ref: '#/components/schemas/InternalError'
        - $ref: '#/components/schemas/ValidationError'
        - $ref: '#/components/schemas/ControllerError'

    InternalError:
      type: object
      properties:
        timestamp:
          type: string
          example: 2020-03-22T20:26:47.367+0000
        status:
          type: string
          example: 404
        error:
          type: string
          example: Not Found
        message:
          type: string
        path:
          type: string
      
    ValidationError:
      type: object
      properties:
        timestamp:
          type: string
          example: 2020-03-22T14:52:51.714+0000
        status:
          type: string
          example: 400
        error:
          type: string
          example: Bad Request
        message:
          type: string
        path:
          type: string
        errors:
          type: array
          items:
            type: object
            properties:
              codes:
                type: array
                items:
                  type: string
              arguments:
                type: array
                items:
                  additionalProperties:
                    type:
                      string
              default_message:
                type: string
              object_name:
                type: string
              field:
                type: string
              rejected_value:
                type: string
              binding_failure:
                type: boolean
              code:
                type: string

    ControllerError:
      type: object
      properties:
        status:
          type: integer
          example: 404
        message_key:
          type: string
          example: NOT_FOUND
        extra:
          type: string
      required:
        - message_key
        - status