openapi: 3.0.1
info:
  title: Task Microservice WIP
  version: v1
servers:
- url: https://task.e-edu.the-morpheus.de/
- url: http://localhost:80
tags:
- name: subject
  description: Task Microservice
- name: module
  description: Task Microservice
- name: lecture
  description: Task Microservice
- name: task
  description: Task Microservice
- name: difficulty
  description: Task Microservice
- name: task_type
  description: Task Microservice
- name: solution
  description: Task Microservice

paths:


  /subject:
    post:
      tags:
      - subject
      summary: Create a subject
      operationId: createSubject
      security:
      - ServiceToken : [read, write]
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
          description: Secret communication key
        - name: Role
          in: header
          required: true
          schema:
            type: string
          description: User Role
      requestBody:
        content:
          application/json:
            schema:
                type: object
                properties:
                  display_name:
                    type: string
      responses:
        '200':
          description: Ok
        '4XX':
          description: User Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '5XX':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    get:
      tags:
      - subject
      summary: Get all subjects
      operationId: getSubjects
      security:
      - ServiceToken : [read, write]
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
          description: Secret communication key
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Subject'
        '4XX':
          description: User Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '5XX':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /subject/{display_name}:
    get:
      tags:
      - subject
      summary: Get subject 
      operationId: getSubject
      security:
      - JWT: [read]
      - ServiceToken : [read, write]
      parameters:
        - name: Authorization
          in: header
          required: true
          description: Secret communication key
          schema:
            type: string
        - name: display_name
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subject'

        '4XX':
          description: User Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '5XX':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
      - subject
      summary: delete subject 
      operationId: deleteSubject
      security:
      - ServiceToken : [read, write]
      parameters:
        - name: Authorization
          in: header
          required: true
          description: Secret communication key
          schema:
            type: string
        - name: display_name
          in: path
          required: true
          schema:
            type: string
        - name: Role
          in: header
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Ok
        '4XX':
          description: User Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '5XX':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /subject/{subject_display_name}/module:
    get:
      tags:
      - subject
      summary: Get modules from subject
      operationId: getModulesFromSubject
      security:
      - ServiceToken : [read, write]
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
        - name: subject_display_name
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Module'

        '4XX':
          description: User Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '5XX':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'



  /module:
    post:
      tags:
      - module
      summary: Create module
      operationId: createModule
      security:
      - ServiceToken : [read, write]
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
        - name: Role
          in: header
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
                type: object
                properties:
                  display_name:
                    type: string
                  subject_display_name:
                    type: string
      responses:
        '200':
          description: Ok
        '4XX':
          description: User Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '5XX':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    get:
      tags:
      - module
      summary: Get all modules
      operationId: getModules
      security:
      - JWT: [read]
      - ServiceToken : [read, write]
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Module'

  /module/{display_name}:
    get:
      tags:
      - module
      summary: Get module WIP
      operationId: getModule
      security:
      - ServiceToken : [read, write]
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
        - name: display_name
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Module'
        '4XX':
          description: User Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '5XX':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
      - module
      summary: Delete Module
      operationId: deleteModule
      security:
      - JWT: [write]
      - ServiceToken : [read, write]
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
        - name: display_name
          in: path
          required: true
          schema:
            type: string
        - name: Role
          in: header
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Ok
        '4XX':
          description: User Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '5XX':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /module/{module_display_name}/lecture:
    get:
      tags:
      - module
      summary: Get lectures from module
      operationId: getLecturesFromModule
      security:
      - ServiceToken : [read, write]
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
        - name: module_display_name
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Lecture'

        '4XX':
          description: User Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '5XX':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'




  /lecture:
    post:
      tags:
      - lecture
      summary: Create lecture
      operationId: createLecture
      security:
      - ServiceToken : [read, write]
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
        - name: Role
          in: header
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                display_name:
                  type: string
                module_display_name:
                  type: string
      responses:
        '200':
          description: Ok
        '4XX':
          description: User Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '5XX':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    get:
      tags:
      - lecture
      summary: Get all lectures
      operationId: getLectures
      security:
      - ServiceToken : [read, write]
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Lecture'
        '4XX':
          description: User Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '5XX':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /lecture/{display_name}:
    get:
      tags:
      - lecture
      summary: Get lecture WIP
      operationId: getLecture
      security:
      - ServiceToken : [read, write]
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
        - name: display_name
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Lecture'
        '4XX':
          description: User Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '5XX':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
      - lecture
      summary: Delete Lecture
      operationId: deleteLecture
      security:
      - ServiceToken : [read, write]
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
        - name: display_name
          in: path
          required: true
          schema:
            type: string
        - name: Role
          in: header
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Ok
        '4XX':
          description: User Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '5XX':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  




  /task:
    post:
      tags:
      - task
      summary: Creates a new task
      operationId: createTask
      security: 
      - ServiceToken : [read, write]
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
        - name: Role
          in: header
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                task:
                  type: string
                necessary_points:
                  type:  integer
                task_type_display_name:
                  type:  string
                subject_display_name:
                  type:  string
                module_display_name:
                  type:  string
                lecture_display_name:
                  type:  integer
                difficulty_display_name:
                  type:  string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
        '4XX':
          description: User Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '5XX':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    get:
      tags:
      - task
      summary: Gets all tasks based on provided query parameters 
      operationId: searchTask
      security: 
      - ServiceToken : [read, write]
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
        - name: subject
          in : query
          required : true
          description: Subject
          schema :
            type: string
            format: string
            minimum: 0
        - name: module
          in : query
          required : true
          description: Module
          schema :
            type: string
            format: string
            minimum: 0
        - name: lecture
          in : query
          required : false
          description: Lecture
          schema :
            type: string
            format: string
            minimum: 0
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Task'
        '4XX':
          description: User Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '5XX':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /task/{task_id}:
    get:
      tags:
      - task
      summary: Gets a task
      operationId: getTask
      security:  
      - ServiceToken : [read, write]
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
        - name: task_id
          in: path
          required: true
          description: The unique task id
          schema:
            type: integer
            format: int64
            minimum: 0
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
        '4XX':
          description: User Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '5XX':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
        - task 
      summary: Deletes a Task
      operationId: deleteTask
      security:
        - ServiceToken: [write]
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
        - name: Role
          in: header
          required: true
          schema:
            type: string
        - name: task_id
          in: path
          required: true
          description: The unique task id
          schema:
            type: integer
            format: int64
            minimum: 0
      responses:
        '200':
          description: Ok
        '4XX':
          description: User Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

        '5XX':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags:
      - task
      summary: Edits a new Task
      operationId: editTask
      security: 
      - ServiceToken : [read, write]
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
        - name: task_id
          in: path
          required: true
          schema:
            type: string
        - name: Role
          in: header
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                task:
                  type: string
                necessary_points:
                  type:  integer
                task_type_display_name:
                  type:  string
                subject_display_name:
                  type:  string
                module_display_name:
                  type:  string
                lecture_display_name:
                  type:  string
                difficulty_display_name:
                  type:  string
      responses:
        '200':
          description: Ok
        '4XX':
          description: User Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '5XX':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /task/vote/{task_id}:
    put:
      tags:
      - task
      summary: Votes for a task
      description: Vote for a specific task. The vote argument can **only** be 1 or -1
      operationId: voteTask
      security:
      - ServiceToken: [read, write]
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
        - name: task_id
          in: path
          required: true
          schema:
            type: integer
            format: int64
            minimum: 0
        - name: user_guid
          in: path
          required: true
          schema:
            type: integer
            format: int64
            minimum: 0
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                vote :
                  type: integer
                  description:
                    Can be 1 or -1
                  example:
                    1
      responses:
        '200':
          description: Ok
        '4XX':
          description: User Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '5XX':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /task/verify:
    patch:
      tags:
      - task
      summary: Verifys a task
      operationId: verifyTask
      security:
      - ServiceToken : [read, write]
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
        - name: Role
          in: header
          required: true
          schema:
            type: string
        - name: user_guid
          in: header
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Ok

        '4XX':
          description: User Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '5XX':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'


  /task/my:
    get:
      tags:
      - task
      summary: Gets all tasks created by the user
      operationId: getTasks
      security:  
      - ServiceToken : [read, write]
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
        - name: user_guid
          in: header
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Task'
        '4XX':
          description: User Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '5XX':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'


  /difficulty:
    post:
      tags:
      - difficulty
      summary: Create difficulty
      operationId: createDifficulty
      security:
      - ServiceToken : [read, write]
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
        - name: Role
          in: header
          required: true
          schema:
            type: string
          description: Only Admin allwed
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                display_name:
                  type: string
      responses:
        '200':
          description: Ok
        '4XX':
          description: User Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '5XX':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    get:
      tags:
      - difficulty
      summary: Get all difficultys
      operationId: getDifficultys
      security:
      - ServiceToken : [read, write]
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Difficulty'

        '4XX':
          description: User Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '5XX':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  
  /difficulty/{display_name}:
    get:
      tags:
      - difficulty
      summary: Get difficulty
      operationId: getDifficulty
      security:
      - JWT: [read]
      - ServiceToken : [read, write]
      parameters:
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      - name : display_name
        in : path
        required : true
        schema:
          type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Difficulty'  
        '4XX':
          description: User Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '5XX':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
      - difficulty
      summary: Delete difficulty
      operationId: deleteDifficulty
      security:
      - JWT: [write]
      - ServiceToken : [read, write]
      parameters:
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      - name : display_name
        in : path
        required : true
        schema:
          type: string
      responses:
        '200':
          description: Ok

        '4XX':
          description: User Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '5XX':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'    

  /task_type:
    post:
      tags:
        - task_type
      summary: Create task type
      operationId: createTaskType
      security:
      - ServiceToken : [read, write]
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
        - name: Role
          in: header
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                display_name:
                  type: string
      responses:
        '200':
          description: Ok
        '4XX':
          description: User Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '5XX':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    get:
      tags:
        - task_type
      summary: Get all task types
      operationId: getAllTaskTypes
      security:
      - ServiceToken : [read, write]
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TaskType'
        '4XX':
          description: User Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '5XX':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  
  /task_type/{display_name}:
    get:
      tags:
      - task_type
      summary: Get task type
      operationId: getTaskType
      security:
      - ServiceToken : [read, write]
      parameters:
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      - name : display_name
        in : path
        required : true
        schema:
          type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskType'  
        '4XX':
          description: User Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '5XX':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
      - task_type
      summary: Delete task type
      operationId: deleteTaskType
      security:
      - ServiceToken : [read, write]
      parameters:
      - name: Authorization
        in: header
        required: true
        schema:
          type: string
      - name: Role
        in: header
        required: true
        schema:
          type: string
      - name : display_name
        in : path
        required : true
        schema:
          type: string
      responses:
        '200':
          description: Ok

        '4XX':
          description: User Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

        '5XX':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'


  /solution/mutiple_choice/{task_id}:
    get:
      tags:
      - solution
      summary: Get all multiple choice soulutions from task id
      operationId: getMultipleChoiceSolutions
      security:  
      - ServiceToken : [read, write]
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
        - name: task_id
          in: path
          required: true
          description: The unique task id
          schema:
            type: integer
            format: int64
            minimum: 0
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        '4XX':
          description: User Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '5XX':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /solution/mutiple_choice/check:
    post:
      tags:
      - solution
      summary: Check multiple choice soulutions
      operationId: checkMultipleChoiceSolutions
      security:
      - ServiceToken : [read, write]
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                task_id:
                  type: integer
                user_solutions:
                  type: array
                  items :
                    type : string
      responses:
        '200':
          description: Ok
        '4XX':
          description: User Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '5XX':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /solution/freestyle/{task_id}:
    get:
      tags:
      - solution
      summary: Get all freestyle soulutions from task id
      operationId: getFreestyleSolution
      security:  
 
      - ServiceToken : [read, write]
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
        - name: task_id
          in: path
          required: true
          description: The unique task id
          schema:
            type: integer
            format: int64
            minimum: 0
      responses:
        '200':
          description: Ok
        '4XX':
          description: User Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '5XX':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /solution/freestyle/check:
    post:
      tags:
      - solution
      summary: Check freestyle soulution
      operationId: checkFreestyleSolution
      security:
      - ServiceToken : [read, write]
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                task_id:
                  type: integer
                user_solution:
                  type: string
      responses:
        '200':
          description: Ok
        '4XX':
          description: User Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '5XX':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /solution/equations/{task_id}:
    get:
      tags:
      - solution
      summary: Get all equations soulution from task id
      operationId: getEquationsSolution
      security:  
      - ServiceToken : [read, write]
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
        - name: task_id
          in: path
          required: true
          description: The unique task id
          schema:
            type: integer
            format: int64
            minimum: 0
      responses:
        '200':
          description: Ok
        '4XX':
          description: User Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

        '5XX':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /solution/equations/check:
    post:
      tags:
      - solution
      summary: Check equations soulution
      operationId: checkEquationSolution
      security:
 
      - ServiceToken : [read, write]
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                task_id:
                  type: integer
                user_solution:
                  type: string
      responses:
        '200':
          description: Ok
        '4XX':
          description: User Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '5XX':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /solution/wordsalad/{task_id}:
    get:
      tags:
      - solution
      summary: Get all wordsalad soulution from task id
      operationId: getWordsaladSolution
      security:  
      - ServiceToken : [read, write]
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
        - name: task_id
          in: path
          required: true
          description: The unique task id
          schema:
            type: integer
            format: int64
            minimum: 0
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                type: object
                properties:
                  solution:
                    type: string
        '4XX':
          description: User Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '5XX':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /solution/wordsalad/check:
    post:
      tags:
      - solution
      summary: Check wordsalad soulution
      operationId: checkWordsaladSolution
      security:
      - ServiceToken : [read, write]
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                task_id:
                  type: integer
                user_solution:
                  type: string
      responses:
        '200':
          description: Ok
        '4XX':
          description: User Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '5XX':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /solution/image/{task_id}:
    get:
      tags:
      - solution
      summary: Get all image soulution from task id
      operationId: getImageSolution
      security:  
      - ServiceToken : [read, write]
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
        - name: task_id
          in: path
          required: true
          description: The unique task id
          schema:
            type: integer
            format: int64
            minimum: 0
      responses:
        '200':
          description: Ok
        '4XX':
          description: User Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '5XX':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /solution/image/check:
    post:
      tags:
      - solution
      summary: Check image soulution
      security:
      - ServiceToken : [read, write]
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                user_solution:
                  type: string
                  example:
                    LINK_TO_IMAGE
      responses:
        '200':
          description: Ok
        '4XX':
          description: User Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '5XX':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /solution/topic_connection/{task_id}:
    get:
      tags:
      - solution
      summary: Get all topic connection soulution from task id
      operationId: getTopicConnectionSolution
      security:  
      - ServiceToken : [read, write]
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
        - name: task_id
          in: path
          required: true
          description: The unique task id
          schema:
            type: integer
            format: int64
            minimum: 0
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                type: object
                properties:
                  solutuions :
                    type: array
                    items:
                      type: object
                      additionalProperties:
                        type: string
                      example:
                        Connection Point a: Connection Point b
        '4XX':
          description: User Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '5XX':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /solution/topic_connection/check:
    post:
      tags:
      - solution
      summary: check topic connection soulution
      operationId: checkTopicConnectionSolution
      security:
      - ServiceToken : [read, write]
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
                type: object
                properties:
                  user_solutuions :
                    type: array
                    items:
                      type: object
                      additionalProperties:
                        type: string
                      example:
                        Connection Point a: Connection Point b
      responses:
        '200':
          description: Ok
        '4XX':
          description: User Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '5XX':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'











components:
  securitySchemes:
    JWT:
      type: http
      scheme: bearer
      bearerFormat: JWT
    ServiceToken:
      type: http
      scheme: bearer
      bearerFormat: randomstring
  schemas:
    Task:
      type: object
      properties:
        task_id:
          type: integer
          example: 5
        author_id:
          type: string
          example: 0b870676-1a01-47aa-8402-859fb9806238
        task:
          type: string
        necessary_points:
          type: integer
        verified:
          type: boolean
          example:
            false
        lecture_id:
          type: integer
          example: 2
        task_type_id:
          type: integer
          example: 0
        difficulty_id:
          type: integer
          example: 2
    Lecture:
      type: object
      properties:
        lecture_id:
          type: integer
          example: 2
        display_name:
          type: string
          example: Dreiecke
        module_id:
          type: integer
          example: 5
    Module:
      type: object
      properties:
        module_id:
          type: integer
          example: 5
        display_name:
          type: string
          example: Geometrie
        subject_id:
          type: integer
          example: 3
    Subject:
      type: object
      properties:
        subject_id:
          type: integer
          example: 3
        display_name:
          type: string
          example: Mathe
    Difficulty:
      type: object
      properties:
        difficulty_id:
          type: integer
          example: 2
        display_name:
          type: string
          example: Schwer
    TaskType:
      type: object
      properties:
        task_type_id:
          type: integer
          example: 2
        display_name:
          type: string
          example: Prüfung
    Error:
      oneOf:
        - $ref: '#/components/schemas/InternalError'
        - $ref: '#/components/schemas/ValidationError'
        - $ref: '#/components/schemas/ControllerError'

    InternalError:
      type: object
      properties:
        timestamp:
          type: string
          example: 2020-03-22T20:26:47.367+0000
        status:
          type: string
          example: 404
        error:
          type: string
          example: Not Found
        message:
          type: string
        path:
          type: string
      
    ValidationError:
      type: object
      properties:
        timestamp:
          type: string
          example: 2020-03-22T14:52:51.714+0000
        status:
          type: string
          example: 400
        error:
          type: string
          example: Bad Request
        message:
          type: string
        path:
          type: string
        errors:
          type: array
          items:
            type: object
            properties:
              codes:
                type: array
                items:
                  type: string
              arguments:
                type: array
                items:
                  additionalProperties:
                    type:
                      string
              default_message:
                type: string
              object_name:
                type: string
              field:
                type: string
              rejected_value:
                type: string
              binding_failure:
                type: boolean
              code:
                type: string

    ControllerError:
      type: object
      properties:
        status:
          type: integer
          example: 404
        message_key:
          type: string
          example: NOT_FOUND
        extra:
          type: string
      required:
        - message_key
        - status